[2017-02-14 03:10] LIU9293 opened #1 "will open source ?"
Hey, i just came across from medium, your article is useful for me, thanks a lot.
Would this be an open source project, then we can use `<CacheImage />` instead of `<Image />`?

[2017-02-14 07:54] wcandillon commented on #1
@LIU9293 the package will be published this week :)

[2017-02-14 21:01] #1 closed

[2017-02-14 21:01] wcandillon commented on #1
I just published `0.0.12`

[2017-02-18 07:50] jjhesk opened #8 "DocumentDir of undefined."
not working..
DocumentDir of undefined.
RN 0.41.2
"react-native-fetch-blob": "^0.10.2",

[2017-02-18 09:21] wcandillon commented on #8
@jjhesk where do you see `DocumentDir` being used?

[2017-02-20 14:09] muhammetdemirci opened #10 "It is in cache but does not show image"
<img width="783" alt="screen shot 2017-02-20 at 17 12 16" src="https://cloud.githubusercontent.com/assets/21204536/23128335/41e33f98-f787-11e6-9e7d-f51701928d12.png">

<img width="768" alt="screen shot 2017-02-20 at 17 07 48" src="https://cloud.githubusercontent.com/assets/21204536/23128316/2caae14e-f787-11e6-8fb9-cd6d7112556c.png">

[2017-02-20 15:04] wcandillon commented on #10
@muhammetdemirci Just out of curiosity, how did you get the inspector screenshot? It looks like a really useful tool I could use.

Are you positive that the issue is not related to the styles applied the elements? For instance if `CachedImage` has no size, it won't be displayed. Is it a regression from `Image` If yes, I can look into it.

[2017-02-20 15:13] muhammetdemirci commented on #10
I use react-devtools

and my item.js
<img width="585" alt="screen shot 2017-02-20 at 18 13 32" src="https://cloud.githubusercontent.com/assets/21204536/23130629/dd7aa2b8-f78f-11e6-8879-e231984b717f.png">
<img width="812" alt="screen shot 2017-02-20 at 18 13 43" src="https://cloud.githubusercontent.com/assets/21204536/23130631/ddafcdc6-f78f-11e6-9191-e3cb7e4909a8.png">
<img width="817" alt="screen

[2017-02-20 15:41] wcandillon commented on #10
@muhammetdemirci thks for the tip!

If you replace `CachedImage` with `Image`, then the image displays? Could it be because now the `Image` component to which the style is applied is not a direct children of `View`? If this is the case, I would need to investigate how this can be solved.

[2017-02-21 08:42] muhammetdemirci commented on #10
When I use Image ,unfortunately the image doesn't display

[2017-02-21 09:14] wcandillon commented on #10
@muhammetdemirci So you are able to reproduce the issue without using `CachedImage`? Have you tried to set a `width` and `height` to display the image?

[2017-02-21 10:43] jjhesk commented on #8
@wcandillon  it is fixed by correctly linking the fetch-blog to the compiler.

[2017-02-21 10:45] jjhesk opened #11 "architecture design enhancement"
i have a question. Can I can an notification when the all the images are cached hit in the local storage?

assume i have

images = [
uri1, uri2, uri3, ...
]
should be better when all of these paths are cached successfully and have the final notification. Can I also have the size dimension of each image in return automatically?

[2017-02-21 11:17] muhammetdemirci commented on #10
I set a width and height with using Image , but it also didn't display

[2017-02-21 11:50] wcandillon commented on #8
great thks!

[2017-02-21 11:50] #8 closed

[2017-02-21 12:58] wcandillon commented on #11
@jjhesk Did you look at the `on()` method: https://github.com/wcandillon/react-native-img-cache#onuri-observer-immutable? When notified, you can use [Image.getSize()](https://facebook.github.io/react-native/docs/image.html#getsize) to get the size of the image. Does this fit your requirements?

[2017-02-27 05:15] smkhalsa commented on #10
I'm having a similar issue.

[2017-02-27 06:06] wcandillon commented on #10
@muhammetdemirci As far as I understand, this is a styling issue no? In fact you are having the same issue without the `CachedImage` component? Is my understanding correct?

[2017-02-27 18:58] smkhalsa commented on #10
For me my images display correctly with the standard Image component, but if I swap this out for a CachedImage component, it's blank.

[2017-02-28 07:18] wcandillon commented on #10
@smkhalsa can you share an example. Especially the layout/styling in which you use `CachedImage`? Is there a `width` and `height` set to the component?

[2017-03-01 15:24] movie4 commented on #10
Hello, got same issue image not displayed

rn: 41
android: 6
macOS/Linux

[code]

[code]

[2017-03-01 15:51] kirkstrobeck opened #12 "Thank you"
This worked out of the box and even allows for my app to work offline. Just wanted to send some positive vibes your way. Thanks again.

[2017-03-01 16:00] movie4 commented on #10
maybe this help: https://github.com/wkh237/react-native-fetch-blob/issues/215

[2017-03-02 09:36] wcandillon commented on #12
Thank you so much @kirkstrobeck, I really appreciate it!

[2017-03-02 09:36] wcandillon commented on #11
@jjhesk I'm closing this issue for now, feel free to re-open.

[2017-03-02 09:36] #11 closed

[2017-03-02 09:38] wcandillon commented on #10
@movie4 Thanks a lot for pointing me to this issue, I will fix it right away.

[2017-03-02 09:52] wcandillon commented on #10
@movie4 @smkhalsa Can you check if the issue is fixed with `1.1.1`? Feel free to reopen otherwise.

[2017-03-02 11:03] wcandillon commented on #10
@movie4 @smkhalsa Please also make sure that in `AndroidManifest.xml` the following permission is set:
[code]

[2017-03-02 13:50] movie4 commented on #10
@wcandillon test on android 6 and 7

not working - https://www.youtube.com/watch?v=YKy2Z_JybFg
use - react-native-img-cache@1.1.4

[2017-03-02 14:19] wcandillon commented on #10
@movie4

[2017-03-02 14:19] wcandillon commented on #10
@movie4 yes still doesn't work for me on android, I'm looking into it.

[2017-03-02 18:46] wcandillon commented on #10
@movie4 @smkhalsa @muhammetdemirci Finally, the android support has been fixed in `1.1.6`. Thank you for your help guys!

[2017-03-02 18:49] #10 closed

[2017-03-03 04:55] movie4 commented on #10
it work!  many thanks @wcandillon

[2017-03-07 15:08] kirkstrobeck opened #17 "Could not find image named undefined.png"
Getting many of these warnings. Images still show though. Don’t get this with `Image`.

[code]

[2017-03-07 16:52] wcandillon commented on #17
@kirkstrobeck could you send me a snippet that would allow me to reproduce this bug?

[2017-03-07 16:58] kirkstrobeck commented on #17
I’m not sure that I can without hours of work. Feel free to close as it only produces a warning. Perhaps there can be a check that somewhere says *thing* must not be `undefined`. There is a guard around the image iterator that ensures there is a proper url on my end.

[2017-03-07 19:47] wcandillon commented on #17
@kirkstrobeck Any change you could send me the props to `CachedImage`? What is undefined in the props you send to the component?

[2017-03-07 20:02] kirkstrobeck commented on #17
Here is an example. Unfortunately, nothing is undefined. `hasImage1` ensures `photos[1]` is available.

[code]

[2017-03-07 20:10] wcandillon commented on #17
@kirkstrobeck and `photos[1]` is `undefined`?

[2017-03-07 20:22] kirkstrobeck commented on #17
No, `*.png` isn’t specified in my code. The ajax data gets `.jpg` files. I have a couple local `.png` files that I was running thru `CachedImage`, but it wasn’t working so now I run them thru `Image`. Perhaps uninstalling the app would blow away the cache? but that image isn’t referenced any longer so not sure whats causing this? Looks like the pattern is that whenever I use `CachedImage` it warns

[2017-03-08 08:53] wcandillon commented on #17
@kirkstrobeck I ran a couple of tests on IOS and couldn't reproduce the issue. Is it possible that you experienced the issue on android? Please feel free to re-open if this is the case of if you have more information on how to reproduce the issue.

[2017-03-08 19:54] kirkstrobeck commented on #17
My hunch was correct. Removing the app and reinstalling resolved the error as it wiped the cache.

[2017-03-08 22:22] dillonykyang commented on #17
@wcandillon I am also seeing this issue on iOS... just using
<CachedImage source={{uri: item.image_url}} style={{flex:1, resizeMode: 'stretch'}} />
the image_url has a png extension and guaranteed to exist.

[2017-03-08 22:23] dillonykyang commented on #17
@wcandillon further debugging - the warning is on only when you provide a style prop to it.

[2017-03-09 07:41] wcandillon commented on #17
@dillonykyang @kirkstrobeck The issue should be fixed in `1.1.7`. Please keep me posted and thank you so much for your help.

[2017-03-10 04:39] kirkstrobeck commented on #17
Upgraded, but it seems to still be present. 😭

[2017-03-21 15:27] mstllc commented on #17
Yeah I'm seeing this issue as well and I think it's because of this line: https://github.com/wcandillon/react-native-img-cache/blob/master/src/index.tsx#L101

I actually see `render()` getting called twice before the component finally has a value at `this.state.path`, so the built in `Image` component is throwing this warning when it can't load `undefined.png`.  I have to think it's just because `

[2017-03-21 17:41] wcandillon commented on #17
@thorsonmscott Thank you so much for providing this information, I will look into it.

[2017-03-21 22:44] wcandillon commented on #17
@thorsonmscott @kirkstrobeck Can you check version 1.1.8?

[2017-03-21 22:44] #17 closed

[2017-03-22 00:47] jiangqqlmj opened #22 "This is a very good project~"
This is a very good project~
I will recommend this project on RN developers in China
Thank you~

[2017-03-22 04:07] kirkstrobeck commented on #17
Good for a while, then many warnings like

[code]
This is a regression, because when warnings show, the images do not come thru, so now it’s breaking.

Using `1.1.8`, `git clean -xfd` and a simulator reset content and settings iOS.

[2017-03-22 07:37] wcandillon commented on #17
@kirkstrobeck should be fixed in `1.1.9`, sorry about this regression!

[2017-03-22 12:10] kirkstrobeck commented on #17
No worries, that’s what software does. `1.1.9` appears to be fixed. 🎉

[2017-03-24 20:22] zobeirhamid opened #24 "Android still cannot read file from cache."
Hello!
I tried using CachedImage but it won't show the image. It shows the Image tag, but with a blank view. I checked whether the file exists, and it exists (checked in the avd shell and also with fs.exists).
It works perfectly with iOS. If I use fileCache instead of path it works without problems.

Maybe it is because of the Firebase Storage, that the link has some end to it. "http://firebase...

[2017-03-25 03:10] #24 closed

[2017-03-30 09:43] JimmyDaddy opened #25 "Can you provide a function to clear image cache ?"
Or you can save all cache image in a special path, not in the root of Cachedir.
Thank you for this excellent project

[2017-03-30 09:55] JimmyDaddy commented on #25
Annnnd~ can you implement more props, such as `resizeMode`、`onLoadEnd`、`onLayout`and so on.
[code]

[2017-03-30 12:29] JimmyDaddy commented on #24
hello, I still have this problem , did you fix it?

[2017-03-30 12:32] wcandillon commented on #25
@JimmyDaddy Are you having this issue with `1.1.9`? It should be fixed.

[2017-03-30 12:37] JimmyDaddy commented on #25
@wcandillon yes, I install it today, It works perfectly with iOS. But show blank with Android

[2017-03-30 12:38] JimmyDaddy commented on #25
there is the source code
[code]

[2017-03-30 12:42] JimmyDaddy commented on #25
![Uploading image.png…]()

[2017-03-30 12:45] JimmyDaddy commented on #25
Android `source` object:
http://snpy.in/UKlbMO

[2017-03-30 12:51] JimmyDaddy commented on #25
IOS `source` object:
http://snpy.in/mFps4x

[2017-03-30 13:08] JimmyDaddy commented on #25
Is that got wrong image path?
I checked the device on Android Device Monitor, found all the image were under the path `/data/data/com.yourapplicationid/cache`

[2017-03-30 15:06] JimmyDaddy commented on #25
I found it's the MD5 code  lead to this problem. If I remove the MD5 code at the tail the image will show.
[code]

[2017-03-31 09:21] wcandillon commented on #25
@JimmyDaddy I was not able to identify where having query parameters to the URI breaks the code on android. Where you able to identify the problematic part?

[2017-03-31 09:22] wcandillon commented on #25
@JimmyDaddy Nevermind, found the bug!

[2017-03-31 09:33] wcandillon commented on #24
@zobeirhamid @JimmyDaddy This is fixed in `1.1.10`. Sorry about that and thank you for reporting it.

[2017-03-31 10:51] #25 closed

[2017-04-03 22:04] JimmyDaddy commented on #25
@wcandillon Thank you very much!

[2017-04-06 03:40] firstBird-1 opened #30 "when I want to clear cache by bust function, but the cache show more picture"
I want to clear the picture in cache, but show double number of picture in the cache .seens like copyed again the source in the path

[2017-04-06 06:17] wcandillon commented on #30
@firstBird-1 bust only re-downloads the image for the cache entry. It doesn't remove any files. Were you expecting a different behaviour?

[2017-04-06 06:59] firstBird-1 commented on #30
So there is any function to clear cache or remove the image from cache?

[2017-04-06 07:01] firstBird-1 commented on #30
@wcandillon I see the explain "The lifetime of this cache is the one of the running application".If I turn off the App, the Cache will be done with all the image deleted?

[2017-04-06 07:02] wcandillon commented on #30
@firstBird-1 Not at the moment because I find this feature orthogonal. Image are stored in the iOS/Android cache folder and they have a lifecycle on their own.

@firstBird-1 yes for images cached with the `mutable` attribute.

[2017-04-06 07:12] firstBird-1 commented on #30
@wcandillon Thanx~~

[2017-04-06 07:15] #30 closed

[2017-04-06 07:16] wcandillon commented on #30
@firstBird-1 you're welcome, feel free to reopen if you have more questions.

[2017-04-14 10:36] wcandillon opened #32 "Fix cache management"
This module should provide some way to manage the physical files in the cache, see: https://developer.android.com/guide/topics/data/data-storage.html#filesInternal.

[2017-04-15 09:51] #32 closed

[2017-04-17 22:29] jbrunson opened #35 "ImageCache.get() is throwing an error"
I have been trying to clear the cached entries and physical files but getting an error. Recently when I call ImageCache.get() or ImageCache.get().clear() I get this error... (_reactNativeImgCache.ImageCache.get is not a function).  It looks like some recent updates may have broken this behavior but any advice would be greatly appreciated.

[2017-04-18 04:41] mxklsn opened #36 "Progress indicator on downloading"
How can I get the image upload process?
or
Could you add props progress indicator if image download?
as like ```indicator={`Platform.OS === 'ios' ? Circle : Pie`}```

[2017-04-18 08:28] wcandillon commented on #36
@mxklsn Your use case should be supported once #37 is merged.

[2017-04-18 08:33] #36 closed

[2017-04-18 08:36] wcandillon commented on #22
@jiangqqlmj, thank you so much. Please let me know if you have any issues with this library.

[2017-04-18 08:39] wcandillon commented on #35
@jbrunson Is it possible that you are not using the latest version of the package? `get()` was introduced in version `1.2.0`. Which version are you using?

[2017-04-18 11:55] wcandillon commented on #36
@mxklsn Please feel feed to re-open this issue if you have any problem with this new version.

[2017-04-18 16:10] jbrunson commented on #35
That was it....I was using an older version for some reason. Thank you!!

[2017-04-18 17:04] #35 closed

[2017-04-18 17:04] wcandillon commented on #35
@jbrunson 👍

[2017-04-25 02:09] clemmy opened #39 "Question: Difference between this library and native cache property"
https://facebook.github.io/react-native/docs/image.html

Hi there! I was just wondering if there is a difference between this library and specifying `cache: 'only-if-cached'` on an `<Image/>` component.

[2017-04-25 08:22] wcandillon commented on #39
@clemmy, the cache attribute didn't exist at the time I wrote the package. I will try to use it and see if I can get the same UX quality than with `react-native-img-cache` and let you know. Thank you for pointing that out.

[2017-04-25 15:38] #39 closed

[2017-04-25 15:39] wcandillon commented on #39
@clemmy I added a comment in the README, let me know if it makes sense or not.

[2017-04-26 03:45] clemmy commented on #39
Thanks :)

[2017-04-28 03:18] gameboyVito opened #47 "The latest version 1.3.1 cannot run on RN 0.42"
Hi, thanks for your awesome module. I am currently using react-native v0.42.3. After I updated to react-native-img-cache v1.3.1, it encountered error, but v1.3.0 is perfect for react-native < 0.43. Please noted and if you can tag your release version, that would be nice. ^_^

[2017-04-28 06:53] wcandillon commented on #47
Thanks for reporting this. Which error did you get?

[2017-05-03 01:48] kingpeterson opened #49 "Cannot show Pictures after certain number of pics on Android"
This is my environment:
React-native 0.43.4
React-native-img-cache 1.3.0
Android 6.0 +

As shown in the screenshots below, after certain numbers of pics, it just shows blank, rather than the picture itself.
I can confirm that the pics have been successfully saved in the cache. This problem only occurs in Android, it works fine in iOS devices.
Please help me solve this issue, thank you!

![0-ea-d1-

[2017-05-03 05:54] hungdev opened #50 "Need support require from local"
thank for lib, but it still run uri image link, dont run with require source.
i hope lib support require: source={require('../Images/no-avatar.png')}

[2017-05-03 06:10] wcandillon commented on #50
@hungdev Images like `require('../Images/no-avatar.png')` are bundled within the javascript. What would be your use case to use such images via `react-native-img-cache`?

[2017-05-03 07:14] hungdev commented on #50
@wcandillon  i want to use react-native-img-cache like this:
[code]

[2017-05-04 04:01] gameboyVito commented on #47
After I upgraded to react-native 0.44.0 and react 16.0.0-alpha.6, I still got the same error. It said: `Error: uri property missing ImageURISource parameter`. However, when I used react-native-img-cache 1.3.0, everything worked correctly, but 1.3.1 always shows that error.

[2017-05-04 08:04] wcandillon commented on #50
@hungdev I'm not sure why you would want to cache a local image. Should you only need to cache remote images?

[2017-05-04 08:06] wcandillon commented on #47
@gameboyVito This error seems to indicate that you are trying to cache a local image. Is there a use case for it? It sounds similar to #50 but I am not sure what is the use case for it. Could you elaborate?

[2017-05-04 08:13] wcandillon commented on #49
@kingpeterson I'm sorry that you are experiencing this issue. Unfortunately, I wasn't able to reproduce it in my own project. Do you have an example project I could look at in order to reproduce the issue? Or just send me some sample component that could allow me to reproduce the issue quickly.

[2017-05-07 15:38] dotansimha commented on #49
@kingpeterson , does your pictures are PNG?

[2017-05-07 15:39] dotansimha commented on #50
@wcandillon I have a similar use case.
I have an Image component, that it's source could be from remote server, or a default image from assets, but I want the view to be the same.

[2017-05-07 16:08] #47 closed

[2017-05-07 16:08] #50 closed

[2017-05-07 16:10] wcandillon commented on #47
@gameboyVito This is fixed in `1.4.0`. Please let me know if you have more issues.

[2017-05-07 16:10] wcandillon commented on #50
@hungdev @dotansimha This is fixed in `1.4.0`. Please let me know if you have more issues.

[2017-05-07 16:12] hungdev commented on #50
@wcandillon , thank you so much.

[2017-05-07 16:13] dotansimha commented on #50
Thanks @wcandillon !

[2017-05-08 01:18] kingpeterson commented on #49
I resolved the issue..
Had to add  android:largeHeap="true" to AndroidManifest.xml

[2017-05-08 01:18] #49 closed

[2017-05-08 04:56] gameboyVito commented on #47
It works! Thank you so much. @wcandillon

[2017-05-08 06:38] gameboyVito opened #52 "How to handle network error and re-fetch from remote uri"
Hi, I would like to know how to deal with network error when I am loading images from remote uri. In my case, I have an infinite list to show all images in a listview.
Somehow there may be some network errors:
1.  timeout
2. no network connection
3. ssl failed

I know I need to handle them inside the `onError()` callback, but I want to implement a retry function. Something like retry 10 times, if

[2017-05-08 07:36] wcandillon commented on #52
@gameboyVito If you use `ImageCache.bust` in the `onError()` callback, it should retry to download the image. Would that solve your use case?

[2017-05-08 18:25] jfilter opened #53 "Android FlatList Full-Screen View: Flickering and Z-Fighting"
Hey dude,

thanks for your great work. The package is working very well on iOS but we have some problem when running under some very specific circumstances on Android.

I don't know how to describe in brief. If you need any other information, please don't hesitate to ask. I am more than willing to provide any additional context.

We make use of two scene with respectively one FlatList. The first s

[2017-05-09 08:32] wcandillon commented on #53
@jfilter Yes a gif would be nice. I don't have any experience with FlatList yet. This sounds quite curious, especially if it's android only. Could it be related to https://github.com/wcandillon/react-native-img-cache/issues/49?

[2017-05-10 21:05] tijp commented on #53
I have the same issue in react-native v0.44. It only occurs on android and it seems like the further down you go in the list, the worse it gets. When using the standard Image component there are no issues.

It looks something like this (it's s bit hard to see in a gif):

![out](https://cloud.githubusercontent.com/assets/9055401/25920897/b071db10-35d3-11e7-9c9f-7a6698d0e57a.gif)

However I managed

[2017-05-12 16:18] gameboyVito commented on #52
Hi, dear author. Sorry for the late reply. I have tried it in the `onError()` callback, but nothing being caught. As I mentioned before, I would like to catch the timeout error. However, it seems like the react-native does not support that feature [#7952](https://github.com/facebook/react-native/issues/7952). Could you add a timeout feature, like opening a public `prop` for us to set the timeout v

[2017-05-24 02:08] anon-r-7 commented on #22
This plugin is absolutely phenomenal. Do you have any plans to add expiration tags, or anything of the sort so that we can dynamically clear a given image from cache after a period of time (i.e., 7 days)? Just  thinking through considerations for making sure the cache file doesn't get too big and take up too much storage on the device.

[2017-06-12 08:24] anhtuank7c opened #54 "[Question] How to set file expires"
Please show me how to control cached files expires.

Thank you so much.

[2017-06-15 00:10] ramsestom opened #55 "Clear image cache at startup"
correct me if I am wrong but the ImageCache is limited to the application runtime. However, downloaded files persist in the device filesystem even if you close the app. To prevent deprecated cache files to take disk space uselessly, you should call the "clear()" function in your ImageCache constructor (as there is only one instance of ImageCache per app anyway). I think CacheDir returned by react-

[2017-06-19 22:47] Emilios1995 commented on #54
I also have this question, @wcandillon.
Is the default behavior to persist the files until `clear()` is called?
It would be nice to specify a ttl and have the library automatically delete the file.

[2017-06-20 21:23] sudugo opened #56 "defaultSource prop notworking"
for profile page in my app i pass a default empty profile prop as follows
`<CachedImage
                source={imageSrc}
                style={styles.profileImage}
                defaultSource={theme.emptyProfile}
              />`
my empty profile image does not show when its loading the real url image.
is this behaviour right or should i use customImageComponent?

any help would be appreciate

[2017-06-28 22:57] JoseOcasio opened #57 "Question - Comment"
Hi what happens if the cache gets full? It will start overriding content in sequence?

Another thing, is there a way to pre fetch images before showing the component?

[2017-07-11 20:53] antondomratchev opened #58 "Jest throws React.createElement: type is invalid when using CachedImage in any List component"
Ran into this issue when trying to test a component that is implementing CachedImage

Example list component:
ListComponent.js
[code]

ListComponent.test.js
[code]

Resulting Error:
[code]

It renders just fine on the device both Android and iOS but fails in a test. Looks like CellRenderer from VirtualizedList is expecting a component at mount time but CachedImage does not return a valid component

[2017-07-12 07:31] IceNeoMax opened #59 "Android didn't load the image"
everything seems nicely on IOS but android is when I didn't connect to the internet. it shows a blank image.
here's my code
example url is below
<img width="1440" alt="screen shot 2017-07-12 at 2 29 17 pm" src="https://user-images.githubusercontent.com/10242973/28106630-c5647926-670e-11e7-95dc-a359659611a4.png">

[2017-07-14 17:45] danny-does-stuff commented on #54
This is the only piece missing that I would love to see! The cached images seem to be living forever right now. It would also be nice if you could set the image cache to conform to the http header `Cache-Control`. i.e. If the server responds with a `maxAge` for a specific image, then that image only lives for that amount of time.

[2017-07-18 20:33] antondomratchev commented on #58
Was finally able to figure out how to test this component.
Adding the following mocks to the either `setupJest.js` file or the individual tests should allow the react-test-renderer to render the Image component from CachedImage component. You can also specify another mock for the CustomCachedImage component, but this worked for me.
[code]

@wcandillon Do you think its worth having this example in

[2017-07-19 06:48] wcandillon commented on #58
@antondomratchev yes that would be fantastic thank you!

[2017-07-19 20:39] iChriiss opened #61 "Images are not displaying correctly..."
![screenshot_20170719-133316](https://user-images.githubusercontent.com/6054530/28388436-ba01f198-6ca0-11e7-99f3-31b83571b3ce.png)

This does not occur all the time, but happens every once in a while....
Any ideas what the issue could be?

[2017-07-19 20:40] wcandillon commented on #61
Do you have the latest version of the component? I fixed this bug in the latest version.

[2017-07-21 14:27] joachimroeleveld opened #63 "Support source arrays"
This is useful for e.g. icons (available in multiple sizes) to be displayed and cached.

[2017-08-09 13:44] escobar5 opened #65 "Is there anyway to pre-cache an image before using <CacheImage/> ?"
I have a use case where I need to cache a set of images that I will be showing to the user in several screens, but I want to cache all of them before showing to be able to use the app offline.

Is this possible?

[2017-08-09 15:52] gonzalezchris commented on #61
Yeah I currently have version 1.4.0

[2017-08-10 01:20] samw2k00 commented on #52
Hey @wcandillon , I tried your solution of adding `bust()` in the `onError()` callback, however it now just enters an infinite reloading loop (e.g. if the image url is invalid).

[code]

Any suggestions on how I handle this (i.e. to only attempt reloading once)?

[2017-08-10 01:30] gameboyVito commented on #52
You may need to write a sleep function, and use it like await this.sleep(5000) to make it asynchronous.

[2017-08-10 05:04] samw2k00 commented on #52
@gameboyVito you are saying that, i should add a sleep before calling the ImageCache.get().bust?

[2017-08-10 05:12] gameboyVito commented on #52
@samw2k00 Yep, like below:
[code]

[2017-08-10 05:36] AntAreS24 commented on #53
I have the same issue in react-native v0.44. Android only. I'll see if I'm allowed to share the video (privately might be easier for me since it's a confidential app). The problem in my case is that all items in the list have different height and content. Some have images, some don't, some have small images and some large.

We resize all content based on the screen ratio and crop the image either

[2017-08-10 06:43] samw2k00 commented on #52
Thanks @gameboyVito , that has spaced out the requests (which is good!) - but we're getting this issue repeatedly. Have you seen it before?

[code]

[2017-08-10 06:46] gameboyVito commented on #52
Yes, I guess it might be caused by unstable network transmission, which makes the downloaded image has binary loss. You may need to check whether the downloaded image is completed.

[2017-08-10 06:48] samw2k00 commented on #52
Dope. Any idea how to fix this? We tried adding `fs.unlink` in the `bust()` method, to completely clear out the cached file, but that didn't help...
i.e.
[code]

[2017-08-10 09:34] aminroosta commented on #52
This is where the exception is thrown, at [RTCImage](https://github.com/facebook/react-native/blob/master/Libraries/Image/RCTImageLoader.m#L669) source code.

[2017-08-10 09:37] samw2k00 commented on #52
@gameboyVito  @aminroosta  we found out the issue, this is related to how RNFetchBlob does not respect the 401 status code [https://github.com/wkh237/react-native-fetch-blob/issues/267](url)
so i have to explicitly not link the cache, and remove unlink the RNFetchBlib .

[code]

The second problem is HOW do i tell the custom image component that this download cause error, so i want the onError to

[2017-08-10 10:44] samw2k00 opened #66 "RNFetchBlob does not respect the http status"
Hi there,

i cloned your project down and im trying to modify one file so that i can publish a local copy. Sorry im not really good at this yet, but i would like to make some change to your file to handle the http status code due to the issue of RNFetchBlob does not cater for.

I do not believe i have the right setup to compile the code, but would love to share my idea anyway

I made change to the

[2017-08-11 05:16] NikiLee2016 commented on #56
Obviously your test phone is an android device, but defaultSource prop doesn't work on android platform. So you can try it again on an IOS device

[2017-08-11 07:36] StanLee12 opened #67 "Image can't be displayed completely --- version 1.4.0"
Like below,
![image](https://user-images.githubusercontent.com/19790418/29204623-b29f995c-7eaa-11e7-90c9-4b8336494a71.png)

[2017-08-11 07:40] StanLee12 commented on #67
When image is loading, i click it and show a modal and the image will like that.

[2017-08-18 09:02] janreyho commented on #65
+1

[2017-08-21 14:57] chuanfengH opened #68 "How to get image cache size ?"

[2017-08-25 18:32] antondomratchev commented on #65
@escobar5 @janreyho I was able to do this using `ImageCache.get().on()` which is what the `CacheImage` component uses under the covers. However I can't seem to figure out how to keep track of how many images have been downloaded or when the downloads have all been completed.
For example:
[code]

@wcandillon I am using this in a thunked redux action creator so when the app gets a list of images, I

[2017-08-25 20:23] antondomratchev commented on #68
@chuanfengH Are you referring to image size on disk or the number images in the cache?

[2017-08-26 13:54] ldubos opened #70 "How to get image size from cache ?"
Hi !

I need to know the size of an image to resize it by width and preserve ratio.
I've tried to use **react-native-auto-height-image**, but it doesn't support `source` prop,
the displayed image it gets from cache and the size from URL... It's not the behavior that I expect.

So, How can I get image size from cache with **react-native-img-cache** ?

thank you in advance 😃

[2017-08-27 11:14] sood03 commented on #56
Any option to get it working on Android?

[2017-08-28 15:13] antondomratchev commented on #65
@wcandillon This is a little off topic, let me know if I need to create a new issue for this. It would be a nice addition to the API if the observer handler would return both the path and the original URI on `notify()`

Currently the observer returns a path to the local resource which works great when used directly in CacheImage component. However when using the ImageCache observer as pre-caching

[2017-08-28 21:26] antondomratchev commented on #70
@ldubos, you can simply use `getSize()` method on the Image component https://facebook.github.io/react-native/docs/image.html#methods to get the width and height of an image. However, if you are trying to get the size of an image already in cache you will need to get a path of the image in cache using the `ImageCache` `on` method https://github.com/wcandillon/react-native-img-cache#onuri-observer-

[2017-08-29 08:39] ldubos commented on #70
Ok thanks

[2017-08-29 12:00] shahankit opened #71 "ReactNative ImageBackground"
As of ReactNative 0.46 using, it's recommended to use `ImageBackground` component whenever `Image` has children. This is possible using `CustomImageCache` component as follow:

[code]

Although if there is a directly available component name CachedImageBackground to import then it would be great.

[2017-08-29 16:39] antondomratchev commented on #67
Got the same issue yesterday. This issue is most likely caused by RNFB library that is doing the image downloading and caching.  @wcandillon I think this might be related to https://github.com/wkh237/react-native-fetch-blob/issues/368. @StanLee12 are you able to reproduce this issue consistently? If so it might be worth trying out the timeout config in the fetch https://github.com/wcandillon/react

[2017-08-30 03:26] StanLee12 commented on #67
@antondomratchev  Yes, i can reproduce this issue every time.
Thanks for your answer  :-)， i will try that

[2017-08-31 08:10] banli17 commented on #61
same +1, android is ok，only ios

[2017-09-04 20:12] jonathanroze commented on #67
I've the same issue :/ ! Do you have any idea?

[2017-09-04 20:14] jonathanroze commented on #61
Same thing for me !

[2017-09-06 06:19] Selman555 commented on #65
There should be a consistent way to pre-cache with just the URI as well.
I have an issue with the parent container disappearing completely when the image is initially cached...

[2017-09-06 06:58] Selman555 commented on #53
Could this be related somehow?
The disappearing items in the list all have images in them. They only disappear when those images haven't been cached before.
![disapearing flatlist items](https://user-images.githubusercontent.com/3931541/30098258-79456d94-92e1-11e7-9cf7-0d4e93731b42.gif)

[2017-09-06 07:26] wcandillon commented on #71
I didn't know about `ImageBackground`, indeed this would be a good idea.

[2017-09-06 07:28] wcandillon commented on #71
@shahankit Can you point me to the documentation of `ImageBackground ` ?

[2017-09-06 09:51] shahankit commented on #71
I get a console warning whenever using `<Image />` with children to use `<ImageBackground />` instead. I found this in documentation for `ImageBackground`: http://facebook.github.io/react-native/releases/0.48/docs/images.html#background-image-via-nesting

[2017-09-06 12:23] wcandillon commented on #71
Thks a lot 👍🏻

[2017-09-08 00:02] irukimo commented on #67
same issue here...

[2017-09-08 00:02] irukimo commented on #61
same issue here...

[2017-09-08 10:00] nes123 opened #72 "ImageCache does not behave well"
this code :

[code]

many copies of each image..is it a known issue ?

[2017-09-08 12:10] nes123 commented on #70
How to turn off the ImageCache.get.on()

I am trying to do it with the dispose but it does not work

[2017-09-12 17:04] charlesfayal commented on #8
@jjhesk how did you correctly link the fetch-blog?
I installed it with npm install --save
then linked with react-native link

[2017-09-13 08:21] chuanfengH commented on #68
@antondomratchev  image size on disk .  before i use ImageCache.get().clear() , i want to get the total cache size.

[2017-09-19 10:58] gameboyVito commented on #71
Same issue. Please fix it, thanks.

[2017-09-22 02:23] cyjcxy commented on #68
这个问题解决了吗？我也想知道在清空缓存之前，如何显示缓存大小，谢谢！

[2017-09-24 23:21] aaronbuchanan commented on #54
Same, going to hold on using this lib until we can control cache expiration via headers or api

[2017-09-25 18:03] justinmakaila opened #73 "Custom ImageCache entries"
As a user, I'd like to be able to manipulate the image cache with locally captured data.

Currently building an app where the user can submit images to a server, and we display the image back to the users. Instead of waiting for the round trip (upload, get the property from the server, download via cache) and caching by the URL, I'd like to cache the local image path. Any tips?

[2017-10-04 17:12] n1ru4l commented on #67
This also happens when using react-native-fetch-blob without this library. When I restart the app the images are already cached. So I can not figure out what exactly is wrong since it is only displayed wrong the first time...

My situation description with iOS: FlatList 10 items are in there by default. Only 2 are visible. For some reason all 10 images are loaded. Those are most likely not corrupt

[2017-10-04 18:44] n1ru4l commented on #67
This is an duplicate of https://github.com/wcandillon/react-native-img-cache/issues/61

[2017-10-04 18:44] n1ru4l commented on #61
Copied from #67:

This also happens when using react-native-fetch-blob without this library. When I restart the app the images are already cached. So I can not figure out what exactly is wrong since it is only displayed wrong the first time...

My situation description with **iOS**: FlatList 10 items are in there by default. Only 2 are visible. For some reason all 10 images are loaded. Those are m

[2017-10-09 12:56] brianhiss commented on #71
@wcandillon I'm getting a depreciated message in `react-native 0.49.2`.

`Using <Image> with children is deprecated and will be an error in the near future.`

Looks like their going to depreciate in the next release or two.

[2017-10-20 13:38] jankarres commented on #65
@antondomratchev Thanks for your solution. I had the same problem as described in this issue.

The problem is that ImageCache only executes the given callback if the download was successful. The fact that the download was successful only means that the request received a positive response. The system does not take into account whether a file has been loaded.

The following workaround checks if the

[2017-11-03 11:42] milandeket opened #77 "Evaluating RNFetchBlob.DocumentDir error"
I have installed react-native-img-cache and react-native-fetch-blob. After starting the app I get an error. Haven't tried it on iOS, this happens on Android 7.1.1 emulator.
![blob-error](https://user-images.githubusercontent.com/28781054/32372284-80027376-c094-11e7-8f9c-72d54a6511e5.png)

`"react": "16.0.0-alpha.12"`
`"react-native-fetch-blob": "^0.10.8"`
`"react-native-img-cache": "1.5.0"`

Any i

[2017-11-03 11:58] milandeket commented on #77
Forgot to link react-native-fetch-blob. Closing the issue.

[2017-11-03 11:58] #77 closed

[2017-11-06 22:13] zachrnolan commented on #54
Would love to see this introduced.

[2017-11-10 11:49] jayshah123 commented on #71
looks like you have landed a fix in master, If it is usable, would you be willing to cut a release?

[2017-11-13 01:55] agibson73 opened #78 "Use with Local Images"
Is there a way to make this work with local uri s that works like phcachingimagemanager from native iOS?  I think I have not had luck because your fetch is not done through the image component.  Is it possible to use Image and onLoad of the Image to perform the same task that your download method handles now?  Thanks for any insight.  I struggle with some of the javascript compared to native code.

[2017-11-16 09:22] wcandillon commented on #71
@jayshah123 Thank you for pointing that out, will make a release now.

[2017-11-16 09:50] #71 closed

[2017-11-16 10:58] yeswanth opened #80 "Image not cached properly if there is internet outage while caching"
![image](https://user-images.githubusercontent.com/855011/32887760-0b5405a6-caeb-11e7-94d2-1fdc77131ebc.png)

Ideally, cache for this image should be deleted.

[2017-11-16 16:34] EyMaddis commented on #78
I have the same issue. The `Image` component can load images from the asset library (`.xcassets` on iOS).
This is not possible with `CachedImage`!

[2017-11-20 09:04] xclidongbo opened #83 "iOS refresh UI must on main thread."
=================================================================
Main Thread Checker: UI API called on a background thread: -[UIApplication setNetworkActivityIndicatorVisible:]
PID: 17639, TID: 8871768, Thread name: (none), Queue name: NSOperationQueue 0x1c4434440 (QOS: UNSPECIFIED), QoS: 0
Backtrace:
4   Traveller                           0x0000000104a1a198 -[RNFetchBlobNetwork URLSession:task:

[2017-11-21 08:11] dmh19900611 opened #85 "cannot read property 'DocumentDir' of undefined"
I met the problem after installing the img-cache and the fetch-blob.
This problem was happened at compiling.
Please help me.
Thank you.

[2017-11-25 13:44] thijssteel commented on #85
i have the same problem. Installed both and ran react-native link

[2017-11-28 15:33] StanSarr commented on #85
@thijssteel / @dmh19900611  do you find a solution guys ?

[2017-11-28 15:47] thijssteel commented on #85
not yet, haven't had the time

[2017-12-01 02:26] MackJac commented on #85
i also have this,and i found the solution,you can see https://github.com/wkh237/react-native-fetch-blob/issues/299

[2017-12-04 13:37] rogerkerse commented on #78
it cant even load local images from react native regular folder
[code]

[2017-12-05 03:47] just4fun commented on #68
This feature is very useful when user decides to clear the cache.

[2017-12-05 14:48] richeterre opened #86 "Local image support broken in 1.5.x"
I noticed that support for local images, which had been added by https://github.com/wcandillon/react-native-img-cache/pull/51, is broken in newer versions starting from NPM release 1.5.0. On those versions, the library again throws an error when passing a `source` of type `number` to the `CachedImage` component.

Apparently the error-throwing source check was re-introduced by this commit: https://

[2017-12-06 05:49] wcandillon commented on #86
@richeterre Indeed it was regression with the typing, should be fixed in `1.5.3`. Feel free to reopen if this is not the case.

[2017-12-06 05:49] #86 closed

[2017-12-06 05:50] wcandillon commented on #78
Should be fixed in `1.5.3`, can you confirm?

[2017-12-06 10:19] arnibarnason commented on #78
Local images work for me after updating from 1.5.2 to 1.5.3.

[2017-12-06 22:44] ewindso commented on #80
It also seems to happen if the same image is requested again before it's fully downloaded...  (i.e. another component uses it)

[2017-12-07 11:10] richeterre commented on #86
Thank you, works great! 👌

[2017-12-18 10:15] pavinthan opened #89 "ImageCache.get().clear() is not working on CustomCachedImage"
CustomCachedImage always show first user image
Image url like `{DOMAIN_NAME}/api/profile/images/cropped`

[code]

[code]

[2017-12-19 03:52] arcesoj commented on #85
Apparently `react-native link` does not work well. You have to link `RNFetchBlob.xcodeproj` and `libFetchBlob.a` manually

[2017-12-20 13:08] readthecodes opened #90 "progress is not work"
When i use CustomCachedImage, the progress indicator is not work; if i use Image instead of CustomCachedImage, indicator progress is ok.
![image](https://user-images.githubusercontent.com/9927974/34208515-a3dec5c4-e5c9-11e7-81b8-acf48727466e.png)

[2017-12-20 13:32] readthecodes commented on #90
example in the README.md is also not work, libs version are:

"react": "16.0.0-alpha.12",
"react-native": "0.48.4",
"react-native-fetch-blob": "^0.10.8"
"react-native-image-progress": "^1.0.1"
"react-native-img-cache": "^1.5.3",

![image](https://user-images.githubusercontent.com/9927974/34209332-a3dd3e54-e5cc-11e7-9f9d-770a9f5ec30f.png)

[2017-12-21 16:09] readthecodes opened #91 "Help! CachedImage in android become blur"
CachedImage in Android become blur, while it is ok in iOS. But if i use standard Image component instead of CachedImage, image is display ok in Android. URL of my image is : https://itea-cdn.qq.com/file/editor/20171210/1512907982.9439fd6c4a90053adc366029740e80aa.jpg

[2017-12-22 11:09] Crazy-Ivan opened #92 "[Request] - Please add TTL for cache"
It would be nice to cache an image for a longer time than an application lifetime. For example, add a property with TTL (number of seconds) where a user can specify that image will stay in cache for max 2 weeks (no matter if user kill the app or not)

[2017-12-26 10:22] zhqchen opened #93 "How to load image from SD card?"
Is there a way to load local Image from SD card, like Camera photos.

[2018-01-08 14:56] peacechen opened #94 "CachedImageBackground -- ImageBackground not available on RN 0.45"
ImageBackground was introduced in RN 0.46 and is unavailable in RN 0.45 or prior.  I can use CachedImage for now, but it outputs a warning message which is inconvenient (and falsely alarms testers).  Would you be open to a PR that conditionally outputs the warning based on RN version?

[2018-01-08 15:29] infostreams commented on #63
I had the same problem. You can use this https://gist.github.com/infostreams/1a848878ba82fdc9ac92e4d61b957c6f instead. Let me know if that works for you!

[2018-01-09 15:22] mjroeleveld commented on #63
I think this addresses something else then what I intended :). The RN Image component can be supplied with an array. It will then automatically find the best match based on your screen density. It would be nice if this library can implement the same behaviour.

[2018-01-10 08:06] infostreams commented on #63
I agree that it would be nice if this library supports that behavior. What the code in my gist does is very similar though - it renders the (cached) image that is closest in size to the dimensions you provide. Suits my purposes for the moment, but have to admit I didn't consider screen density. As it stands it just looks at the provided sizes and does a straight up comparison.

[2018-01-11 06:55] yeswanth opened #95 "React-Native-Fetch-Blob is NOT being maintained"
Hi guys,
I have used this library(React-Native-Img-Cache) in my project and it's working well. However, this library has a dependency to React-Native-Fetch-Blob and that is a concern for me. React-Native-Fetch-Blob is NOT being maintained. They have issued [**RNFB MAINTAINER GONE MISSING**](https://github.com/wkh237/react-native-fetch-blob#rnfb-maintainer-gone-missing-help-wanted) notice. The reas

[2018-01-11 07:06] wcandillon commented on #95
@yeswanth I built a version of this component that depends on ExpoKit. This new version contains a lot of improvements and bug fixes over this version. I'm thinking of super-seeding this version over the one that depends on React-Native-Fetch-Blob since I'm not using it anymore. What do you think?

[2018-01-11 07:24] SoundBlaster commented on #66
I also have troubles with error code from RNFetchBlob. For example if my server returns 403 I get the error:
```onError e.nativeEvent.error: Error decoding image data <NSData 0x00000000001; 15 bytes>```
or if there is no image by a remote URL I get:
```onError e.nativeEvent.error: Error decoding image data <NSData 0x00000000001; 62 bytes>```
This is very poor error descriptions and this behaviour

[2018-01-11 07:27] yeswanth commented on #95
I'm not sure as I haven't used expo for building my app. I build and manage native dependencies on my own, both for Android and iOS. Can I use the new version just the same way as before?

[2018-01-11 10:10] chrusart commented on #95
Hi @yeswanth , I'm using our react-native-fetch-blob repo in production now with:
```"react-native-fetch-blob": "github:flatfox-ag/react-native-fetch-blob#exception_fixes",```
this branch have fix from PR you mentioned and also other fix that make other crash in iOS.
I'm using react-native-cached-image which have a dependency on fetch-blob ver. 0.10.8 and my branch is totally compatible with 0.10.

[2018-01-11 22:15] jsmankoo commented on #95
Master is broken cause of this I think.
I'm getting following:
[code]

either we fix package.json or update index.ts to not use the library

[2018-01-12 16:12] chrusart commented on #95
@yeswanth I've added some more ```@synchronized``` blocks in our branch cause we getting other similar crashes:
Sentry:
[code]

Fabric:
[code]

Not tested well yet so use hash to be sure will not break anything.
Will make soon PR on fetch-blob, but... you know.

[2018-01-15 15:45] saudpunjwani101 opened #96 "Image doesn't show when the imageName contain spaces [IOS ONLY]"
Sample code,

          <CachedImage
            source={{uri: `https://${address}/House Clean.jpg`}} // doesn't work, when "Drinks.jpg" it works
           style={{width:190,height:130}}
           resizeMode={"cover"}
          />

When the image name contains spaces, the image won't show on IOS. It's working fine in Android.
Any Idea why it happens?

[2018-01-15 15:56] saudpunjwani101 commented on #96
replacing space character with '%20' solves the issue. If anyone has a better solution, please

[2018-01-19 13:46] chrusart commented on #95
Done in https://github.com/wkh237/react-native-fetch-blob/pull/636

[2018-01-22 04:02] yibuyiqu commented on #91
Got the same problem here.

[2018-01-23 11:52] kirill578 commented on #90
Having the same issue, did you manage to find a work around?

[2018-01-23 14:02] aalkhulaifi605 commented on #89
I am having the same issue where if the user updated his image on the backend , the app won't load the new image and will always load from cache . Setting it to mutable will fix this issue but the image will not be displayed when the user is offline and the app will always request the image .

Does the lib auto delete cache after their max-age is expiated ? My backend does return cache control wit

[2018-01-23 14:04] aalkhulaifi605 commented on #54
I also would love this feature ! I've been jumping from lib to lib looking a cache that has expiration .

[2018-01-26 08:07] efstathiosntonas commented on #85
Just a reminder guys, when installing native modules always recompile the code by `react-native run-ios` or `react-native run-android`. Live reloading won't bring the native code to the app.

[2018-01-26 18:55] d3fkon opened #97 "Cannot use with `react-native-fit-image`"
The `react-native-fit-image` is a very handy component, where the image loaded from the source.uri is directly made to fit the size of the parent component.
`  <CustomCachedImage component={FitImage} source={{ uri }} indicator={true} style={{}} /> `
Does not render an image even-though the purpose of FitImage is that

[2018-01-29 09:44] wcandillon commented on #95
I switched to a caching component that depends on ExpoKit: https://github.com/wcandillon/react-native-expo-image-cache.

You can read about it in more details at https://medium.com/@wcandillon/5-things-to-know-about-images-react-native-69be41d2a9ee

[2018-01-29 09:45] wcandillon commented on #80
I switched to a caching component that depends on ExpoKit: https://github.com/wcandillon/react-native-expo-image-cache. This library fixes this issue.

You can read about it in more details at https://medium.com/@wcandillon/5-things-to-know-about-images-react-native-69be41d2a9ee

[2018-01-29 09:46] wcandillon commented on #67
I switched to a caching component that depends on ExpoKit: https://github.com/wcandillon/react-native-expo-image-cache. This library fixes this issue.

You can read about it in more details at https://medium.com/@wcandillon/5-things-to-know-about-images-react-native-69be41d2a9ee

[2018-01-29 09:46] wcandillon commented on #61
I switched to a caching component that depends on ExpoKit: https://github.com/wcandillon/react-native-expo-image-cache. This library fixes this issue.

You can read about it in more details at https://medium.com/@wcandillon/5-things-to-know-about-images-react-native-69be41d2a9ee

[2018-02-01 04:30] piubellofelipe commented on #65
@jankarres , using like your latest example. passing an invalid url actually caches an blank image :/

[2018-02-04 09:57] jankarres commented on #65
@piubellofelipe The PR #74 is not yet merged by @wcandillon. For this reason, the code will not work (explained above).

[2018-02-05 02:07] piubellofelipe commented on #65
ok, got it @jankarres . Thanks for the explanation :)

[2018-02-13 07:35] brownieboy commented on #65
@jankarres,

Since your PR has not been accepted, I'm using your long `preload()` function  above.  Although it works, it's throwing multiple "Possible Unhandled Promise Rejection" warnings in the react-native console.  Basically, one warning for every file that I try to preload, I think.

[2018-02-13 09:22] jankarres commented on #65
@brownieboy You get a promise back from the function. Do you care about catching exceptions? Without any error message I can't help you.

[2018-02-13 20:09] brownieboy commented on #65
@jankarres ,

Doh!  Yeah, you're right.  It was my calling code that was missing the rejection handling.  All good now.

[2018-02-15 11:58] preyesm commented on #66
@wcandillon any update on this issue?

[2018-02-15 13:35] preyesm commented on #66
Hi  @samw2k00, i tried this library and it was working fine in android, upon inspecting why it did not work in iOsS, i realised i had disabled the Transport security exception. Please check if you have enabled the Allow Arbitrary / added the url to the exception domains, for the urls that you are trying to load via RNFetch blob.
Thanks

[2018-03-09 01:30] divinghero opened #99 "ImageCache.getPath will get a wrong extension name while the uri like this:http://example.com/path?param=http%3A%2F%2Fexample.com%2Findex.html%3Ftype%3Dvalue"
my solve way is :
        if(['.jpg', 'jpeg', '.png', '.bmp', '.gif', '.pcx', '.tiff', '.ico'].indexOf(ext.toLowerCase()) === -1) {
            ext = '.jpg';
        }
but I can not submit to git hub, please fix this problem

[2018-04-06 03:17] lerpo commented on #85
I have resolved this problem, open your xcodeProject .  General=>Linked Framework and Libraries   and . re add  libFetchBlob.a

[2018-04-20 02:44] wangshuwen1107 commented on #56
while loading  image   image size =0

[2018-04-20 09:57] wangshuwen1107 commented on #56
Beacuse defaultSource only ios useful

在 2018年4月20日，下午1:24，William Candillon <notifications@github.com<mailto:notifications@github.com>> 写道：

Why not using the default source as a the preview?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/wcandillon/react-native-img-cache/issues/56#issuecomment-382980752>, or mute the thread<htt

[2018-04-24 08:48] showtan001 opened #100 "hi! You can combine ‘react-native-fit-image’, add Add a function that makes it adaptive?"
react-native-img-cache, must be wide and high, I hope it doesn't need to give the picture a wide height to allow him to adapt himself.

[2018-04-24 08:49] showtan001 commented on #100
thanks!

[2018-04-24 09:04] showtan001 commented on #97
hi! I can't display it in the map loop with 'react-native-fit-image' pictures. How about you?

[2018-04-24 09:04] showtan001 commented on #97
@d3fkon

[2018-04-25 22:47] akmjenkins commented on #95
For anybody interested, I dropped in [react-native-fs](https://github.com/itinance/react-native-fs) in place of [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob) https://github.com/akmjenkins/react-native-img-cache/commit/ad999d27a188a10503d75eb4ef8de0b11d62d960

[2018-05-08 08:58] sriraman commented on #67
@wcandillon  I don't want to add expo to my project. Is there a non-expo version of this library with the fix for this problem?

[2018-05-08 09:11] n1ru4l commented on #67
@sriraman Have you tried https://github.com/DylanVann/react-native-fast-image ?

[2018-05-14 17:59] urieluvd commented on #91
Same, i can't find any resize on the source.

[2018-05-21 15:15] DavitVosk opened #101 "How can I determine whether the image is already cashed or not"
Hello, thanks for awesome package.

Can you please advise a way to determine whether the image is already cashed or not. If not I want to use image lazy loading there. Thanks in advance

[2018-05-25 08:08] luyuan11233 commented on #91
Got the same problem here.

[2018-06-20 10:45] DV31 commented on #61
I don't what is the issue with image some images are showing properly on some are not.

![screenshot_1529491436](https://user-images.githubusercontent.com/26438984/41653892-286fe966-74a5-11e8-9d16-83460647cf76.png)

[2018-06-20 10:50] DV31 commented on #61
I don't find any solution about image issue. some images are showing properly and some are not
![untitled-1](https://user-images.githubusercontent.com/26438984/41654043-c451c64c-74a5-11e8-919c-69d0f66b1a5d.jpg)

[2018-06-28 20:06] mienaikoe commented on #94
On RN 0.55, this throws an exception. Could really use a CachedImageBackground

[2018-06-29 12:18] mayur-padshala commented on #90
I too have the same issue with around 15 projects. Anyone found a workaround? Any help would be much appreciated. Thank you.

[2018-06-29 12:20] mayur-padshala commented on #90
This library helps me to load the images faster and also smooth-ens the page scroll. So can not think of replacing with any other library.

[2018-06-29 12:22] mayur-padshala commented on #96
Whenever using URLs, you should consider using encodeURIComponent() function. This issue happens with native iOS code also. So there is no better solution than using encodeURIComponent

[2018-06-29 12:27] mayur-padshala commented on #89
To your image URI, try adding the user id in query parameter.
Example: ```uri: `${profileImage()}?userId=${user_id}`,```

This will make the URLs unique to each user and would help resolve your issue.

[2018-07-03 07:49] pavinthan commented on #89
@Nitroman605 @mayur-novus thanks for your advice, I used  `/api/profile/images/cropped?uuid={UUID}` to fix the issue.

Thanks again.

[2018-07-03 07:49] #89 closed

[2018-07-12 23:19] JorgeSana commented on #95
Guys, just install the new renamed version of React-Native-Fetch-Blob:
npm install rn-fetch-blob --save
And then go to /node_modules/react-native-img-cache/build/index.js and change the import line:
line 3 - import RNFetchBlob from "react-native-fetch-blob";
with this:
line 3 + import RNFetchBlob from "rn-fetch-blob";

Now yo can work with this package.

[2018-07-19 12:32] simonbuerger commented on #94
I've just switched to using CustomCahcedImage

`<CustomCachedImage source={{ uri: 'https://some/image/source' }} component={ImageBackground}><Text>Some text</Text></CustomCachedImage>`

[2018-08-06 17:57] thtTNT opened #102 "Is it possible to have a default picture."
Maybe I haven't found where it was written. If you have this feature, Can you put it in "README.MD"?
Thank you for your time to look at this issue. Have a good day. xD

[2018-08-17 06:06] beenadevi1 commented on #85
Hello i have solved this issue---- when you install the `react-native-fetch-blob` and link with iOS, it only provide limited lib on native side.

you can to open project from **iOS in Xcode** then remove the library of **RNFetchBlob.xcodeproj** from library folder and then again add by right click on library folder from **node modules**-->**react-native-fetch-blob**--->**iOS folder** --->**add pro

[2018-08-23 10:02] zhangwilling opened #103 "support display local image"
some images are not remote, such as '/private/var/mobile/Containers/Data/Application/33750DB7-00A8-4537-837D-7747800EB4B5/tmp/react-native-image-crop-picker/459488B7-E263-4325-95DC-AD539779FBAC.jpg'

we can judge if image source is a remote, https://github.com/wcandillon/react-native-img-cache/blob/c4ffc423acc006beb7d12827cf2ff7b289e6229c/src/index.tsx#L177getProps.

If the image is local,we don't

[2018-08-23 10:16] zhangwilling commented on #103
i create a pr at https://github.com/wcandillon/react-native-img-cache/pull/104 to enhance the lib.

[2018-09-17 04:58] SunRainMi opened #107 "When add too many Images (At least 800 pictures) on the List, the App will crash! how to solve this question?"

[2018-09-18 09:44] NazifaNajish01 opened #108 "Does it support remote SVG image?"
Does it support remote SVG image?
e.g. https://<some path>/images/abc.svg

[2018-11-14 04:29] snobear commented on #95
For those of us who don't use Expo/ExpoKit for various reasons, I forked this repo and fixed the dependency  and published it in npm as `react-native-img-cache2`, so we can just install with:

[code]

and import with:

[code]

[Git repo](https://github.com/snobear/react-native-img-cache2)

@wcandillon thanks for your work on this project, it works great. I'm happy to help maintain it here or on th

[2018-11-27 15:12] #95 closed

[2018-12-18 14:01] exculibar commented on #68
It's work for me ^_^
[code]

[2019-05-21 08:57] wangliguang commented on #108
The principle of this component is to download the network image to the local, which is convenient for the next loading, so if the image does not support the local svg, then this library does not support

[2019-05-21 09:10] wangliguang commented on #102
there is no default image feature, but you can commit pr

[2019-05-22 11:12] wangliguang opened #115 "Since immutable === true to execute getpath, what is the meaning of if(immutable === true) in getpath?"
on:
 path: immutable === true ? this.getPath(uri, immutable) : undefined

getPath
  if (immutable === true)

Why do you want to add the immutable attribute, is it worried that the value of sha1 is repeated at the same time?

thank you look my issue!  look forward to your reply

[2019-05-22 11:14] wangliguang opened #116 "【We check here if IOS didn't delete the cache content】 what's mean?"
Is it just doing ios check? how about android

[2019-05-27 10:03] ZzNb0813 opened #117 "BUg"

[2019-05-27 10:04] ZzNb0813 commented on #117
萨达斯

[2019-05-27 10:06] #117 closed

[2019-07-12 10:52] wumke commented on #103
Imho it is useless to handle local files in a component that you pulled in to handle cache... instead that should be a simple new component that judges to use default Image or CachedImage when remote url!

[2020-03-10 03:12] KarenQiao commented on #67
any updated?

[2020-03-14 08:20] joshuadiezmo opened #119 "How to easily migrate from react-native-fast-image"
I've used react-native-fast-image then I realize that it takes a lot of memory when the images have a huge file size.

I want to take a try at this library.

is there any easy way to migrate from my old library?

[2020-11-11 03:54] jezreel8858 commented on #99
I used patch-package

[2020-11-11 04:05] jezreel8858 opened #120 "Solution to ignore the URI query"
add in package.json "url-parse" and "patch-package".
add on the first line of the function getPath:
[code]
remember to import at the beginning:
`const URL = require('url-parse');`